# For more information about dependency management, see https://aka.ms/functions-python-dependency-management
azure-functions
azure-functions-durable
openai
azure-ai-documentintelligence
azure-storage-blob
pymongo
azure-cognitiveservices-speech
requests